.Courses {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #ffffff;
  padding: 0 4rem;
  background-image: url("../../assets/backgrounds/wave2.svg");
  justify-content: flex-start;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.CoursesTitle {
  font-size: 3rem;
}

.CoursesHolder {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.CoursesInfo {
  display: flex;
  flex: 1;
}

.CoursesCharts {
  display: flex;
  flex: 2;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
}

.GeneralInfo {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
}

.GPAHolder {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3rem;
}

.ChartsHolder {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 1rem 1rem;
}

.MoreInfoButton {
  background-color: #ffffff;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "candela";
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 20rem;
}
