.GradePanelWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.GradePanel {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 4rem;
  right: 4rem;
  bottom: 4rem;
  padding: 1rem;
  background-color: var(--mainRed);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgba(255, 255, 255, 0.9);
  max-width: calc(100% - 10rem);
  max-height: calc(100% - 10rem);
}

.CloseButton {
  background-color: #ffffff;
  border-radius: 1rem;
  font-size: 1rem;
  font-family: "candela";
  font-weight: bold;
  padding: 0.5rem;
  width: 10rem;
}

.GradePanelBody {
  display: flex;
  flex: 11;
  justify-content: center;
  align-items: center;
}

.GradePanelFooter {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
